<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form class="box" name="loginForm" novalidate>
                    <h1>Login</h1>
                    <p class="text-muted"> Please enter your login and password!</p> 
                    <mat-form-field appearance="outline">
                        <mat-label class="text-muted" >Identifiant</mat-label>
                        <input matInput [(ngModel)]="login" name="login" id="identifiant">
                        <mat-icon matSuffix class="secondary-text material-icons color_white">perm_identity</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label class="text-muted">Mot de passe</mat-label>
                        <input matInput type="password" [(ngModel)]="password" name="password" id="password">
                        <mat-icon matSuffix class="secondary-text material-icons color_white">vpn_key</mat-icon>
                    </mat-form-field>
                    <input type="button" (click)="connexion()" name="" value="Login" href="#">
                </form>
            </div>
        </div>
    </div>
</div>