<div class="onglets" class="row" style="height:100%">
    <div class="col pl-5 pt-4">
        <div class="row">
            <button (click)="changement(1)" mat-raised-button>Ajouter un devoir</button>
        </div>
        <div class="row pt-4">
            <button (click)="changement(2)" mat-raised-button>Devoir non rendu</button>
        </div>
        <div class="row pt-4">
            <button (click)="changement(3)" mat-raised-button>Devoir rendu</button>
        </div>
    </div>
    <div  *ngIf="fenetre==1" class="col-10 pt-4" style="height:100%">
        <mat-card>
            <!-- <mat-card-title>Ajout d'un devoir</mat-card-title> -->
            <div class="row">
                <div class="col pt-4 pl-4">
                    <mat-form-field  appearance="outline">
                        <mat-label>Matières</mat-label>
                        <mat-select [(ngModel)]="matiere">
                          <mat-option *ngFor=" let matiere of matieres" [value]="matiere.title" >{{matiere.title}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div class="col pt-4 pl-4">
                    <mat-form-field appearance="outline">
                        <mat-label class="text-muted" >Nom</mat-label>
                        <input matInput [(ngModel)]="nomDevoir" name="nom">
                        <mat-icon matSuffix class="secondary-text material-icons color_white">perm_identity</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col pt-4 pl-4">
                    <mat-form-field appearance="outline">
                        <mat-label class="text-muted" >Date de rendu</mat-label>
                        <input matInput [matDatepicker]="picker" [(ngModel)]="dateDeRendu" name="date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col pt-4 pl-4">
                    <mat-form-field appearance="outline">
                        <mat-label class="text-muted" >Auteur</mat-label>
                        <input matInput [(ngModel)]="auteur" name="auteur">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-3 pt-4 pl-4">
                    <mat-form-field appearance="outline">
                        <mat-label class="text-muted" >Note</mat-label>
                        <input matInput [(ngModel)]="note" name="auteur">
                    </mat-form-field>
                </div>
                <div class="col-3 pt-4 pl-4">
                    <mat-form-field appearance="outline">
                        <mat-label class="text-muted" >Remarques</mat-label>
                        <input matInput [(ngModel)]="remarque" name="remarque">
                    </mat-form-field>
                </div>
                <div class="col-3 pt-4 pl-4">
                    <button mat-raised-button (click)="add()" color="primary">Ajouter un devoir</button>
                </div>
            </div>
        </mat-card>
    </div>
    <div *ngIf="fenetre==2" class="col-10 pt-4" style="height:100%">
        <mat-card class="transparentback">
            <!-- <mat-card-title>Devoir non rendu</mat-card-title> -->
            <div  *ngFor="let element of assignments">
                <div *ngIf="!element.rendu">
                    <div class="row pl-4 pt-2" >
                        <mat-card>
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image" *ngIf="!!element.matiere" [ngStyle]="{'background-image': 'url(' +element.matiere.imageprof + ')'}"></div>
                                <mat-card-title>{{element.nom}}</mat-card-title>
                                <mat-card-subtitle>{{element.auteur}}</mat-card-subtitle>
                              </mat-card-header>
                              <img mat-card-image  *ngIf="!!element.matiere" src={{element.matiere.imagecours}} alt="cours">
                              <mat-card-content>
                                <span>Matiere : {{element.titre}} </span><br>
                                <span >Date de rendu : {{element.dateDeRendu | date}} </span><br>
                                <div [hidden]="!element.detail">
                                    <div *ngIf="element.noter == false">
                                        <span>Note obtenu : NON NOTE </span><br>
                                    </div>
                                    <div class="md-form" *ngIf="element.noter == true">
                                        <input [(ngModel)]="note" type="number" class="form-control" mdbInput min="0" max="20">
                                        <button mat-raised-button (click)="update(element,note)" (click)="element.rendu = true" (click)="element.note = note" color="primary">Valider</button>
                                    </div>
                                   
                                     
                                    <p>
                                      {{element.remarque}}
                                    </p>
                                </div>
                              </mat-card-content>
                              <mat-card-actions>
                                <button (click)="delete(element)" mat-fab color="warn">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                <button [hidden]="!element.detail" mat-raised-button  (click)="element.noter = !element.noter" color="primary">Noter</button>
                                <button mat-raised-button (click)="element.detail = !element.detail" color="primary">Detail</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
    <div *ngIf="fenetre==3" class="col-10 pt-4" style="height:100%">
        <mat-card class="transparentback">
            <!-- <mat-card-title>Devoir rendu</mat-card-title> -->
            <div *ngFor="let element of assignments">
                <div *ngIf="element.rendu">
                    <div class="row pl-4 pt-2">
                        <mat-card>
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image" *ngIf="!!element.matiere" [ngStyle]="{'background-image': 'url(' +element.matiere.imageprof + ')'}"></div>
                                <mat-card-title>{{element.auteur}}</mat-card-title>
                                <mat-card-subtitle>{{element.nom}}</mat-card-subtitle>
                              </mat-card-header>
                              <img mat-card-image *ngIf="!!element.matiere" src={{element.matiere.imagecours}} alt="cours">
                              <mat-card-content>
                                <span>Date de rendu : {{element.dateDeRendu | date }} </span><br>
                                <div [hidden]="!element.detail">
                                    <div *ngIf="element.note != undefined">
                                        <span>Note obtenu : {{element.note}}/20</span><br>
                                    </div>
                                    <p>
                                      {{element.remarque}}
                                    </p>
                                </div>
                              </mat-card-content>
                            <mat-card-actions>
                                <button (click)="delete(element)" class="btn" mat-fab color="warn">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                <button mat-raised-button (click)="element.detail = !element.detail" color="primary">Detail</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>