
.image {
  background-size: cover;
}

mat-card {
  background: #f3eded;
  background-size: cover;
  overflow: auto;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  margin : 10px;
}

mat-button-toggle-group {
    margin-left: 12px;
  }

img.mat-card-image{
  background-size: cover;  
}

img {
  opacity: 0.9;
}
.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}

.btncard{
  width: 100%;
  background-color: whitesmoke;
}
.onglets {
  width: 100%;
  border-radius: 1px;
  background-color: whitesmoke!important;
  
}

.mat-card-actions .mat-button, .mat-card-actions .mat-raised-button, .mat-card-actions .mat-stroked-button {
  margin: 0 2px;
}

.pl-5, .px-5 {
  padding-top: 36px!important;
}
