<!-- <div id="assignments" class="container-fluid pt-4">
    <div class="row">
        <div class="col">
            <p>PAGE ASSIGNEMENTS</p>
        </div>
    </div>
    <div class="row">
        <form ngForm #assignmentForm class="form">
            <div class="col">
                <mat-form-field>
                    Nom : <input matInput [(ngModel)]="nomDevoir" name="nom">
                </mat-form-field>
                <mat-form-field appearance="fill">
                <mat-label>Date de rendu</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="dateDeRendu" name="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col">
               
            </div>
            <div class="col">
                <button mat-stroked-button color="primary" [disabled]="!ajoutActive"
                    (click)="onSubmit($event); assignmentForm.reset();">
                    Ajouter un devoir
                </button>
            </div>   
          </form> 
    </div>
    <div class="row">
        <div *ngFor="let a of assignments">
            <p *ngIf="a.rendu; else nonsoumis" appRendu>
              {{a.nom}}, date de rendu : {{a.dateDeRendu | date}}. Rendu : {{a.rendu}}
            </p>
          
            <ng-template #nonsoumis>
              <p>{{a.nom}} NON RENDU ! , à rendre le {{a.dateDeRendu |date}}.</p>
            </ng-template>
          
          </div>
    </div>
</div> -->


<div class="container">
    <div class="row">
        <div class="col-12">
            <mat-button-toggle-group [(ngModel)]="affichage" name="fenetre" aria-label="Font Style">
                <mat-button-toggle [value]=1>Ajouter un devoir</mat-button-toggle>
                <mat-button-toggle [value]=2>Afficher devoir rendu</mat-button-toggle>
                <mat-button-toggle [value]=3>Afficher devoir non rendu</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
    <div *ngIf="affichage == 1" class="row">
        <div class="col-5">
            <mat-card>
                <h1>Assignement</h1>
                <form ngForm #assignmentForm class="form">
                    <mat-form-field appearance="outline">
                        <mat-label class="text-muted" >Nom</mat-label>
                        <input matInput [(ngModel)]="nomDevoir" name="nom">
                        <mat-icon matSuffix class="secondary-text material-icons color_white">perm_identity</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label class="text-muted" >Date de rendu</mat-label>
                        <input matInput [matDatepicker]="picker" [(ngModel)]="dateDeRendu" name="date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label class="text-muted" >Auteur</mat-label>
                        <input matInput [(ngModel)]="auteur" name="auteur">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label class="text-muted" >Note</mat-label>
                        <input matInput [(ngModel)]="note" name="auteur">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label class="text-muted" >Image (en cours)</mat-label>
                        <input matInput [(ngModel)]="image" name="auteur">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label class="text-muted" >Remarques</mat-label>
                        <input matInput [(ngModel)]="remarque" name="remarque">
                    </mat-form-field>
                    <input type="button" [disabled]="!ajoutActive" (click)="add()" name="" value="Ajouter un devoir" href="#">
                </form>
            </mat-card>
        </div>
    </div>
    <div *ngIf="affichage == 2" class="row">
        <div class="col-5">
            <div *ngFor="let element of assignments">
                <div *ngIf="element.rendu">
                    <mat-card>
                        <div class="row">
                            <span>{{element.nom}}</span>
                        </div>
                        <div class="row">
                            <span>{{element.auteur}}</span>
                        </div>  
                        <div class="row">
                            <span>{{element.note}}</span>
                        </div>    
                        <div class="row">
                            <span>{{element.image}}</span>
                        </div>    
                        <div class="row">
                            <span>{{element.remarque}}</span>
                        </div>          
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="affichage == 3" class="row">
        <div class="col-5">
            <div class="pb-1" *ngFor="let element of assignments">
                <div *ngIf="!element.rendu">
                    <mat-card>
                        <div class="row">
                            <span>{{element.nom}}</span>
                        </div>
                        <div class="row">
                            <span>{{element.auteur}}</span>
                        </div>  
                        <div class="row">

                            <div *ngIf="element.note == null">
                                <mat-label class="text-muted" >Note</mat-label>
                                <input matInput [(ngModel)]="element.note" name="note">
                            </div>
                            <div *ngIf="element.note != null">
                                <span>{{element.note}}</span>
                            </div>
                        </div>    
                        <div class="row">
                            <span>{{element.image}}</span>
                        </div>    
                        <div class="row">
                            <span>{{element.remarque}}</span>
                        </div>          
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="content">
    <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style">
        <mat-button-toggle (click)="renduVisible($event)" [disabled]="!renduVis" >Rendu</mat-button-toggle>
        <mat-button-toggle (click)="renduVisible($event)" [disabled]="renduVis">Non Rendu</mat-button-toggle>
      </mat-button-toggle-group>
</div>

<div class="content">
    <mat-grid-list cols="4" rowHeight="1:1">
        <div *ngFor="let a of assignments">
            <div *ngIf="a.rendu">
                <mat-grid-tile [style.display]="renduVis==a.rendu ? 'block' : 'none'" > 
                   <mat-grid-tile [style.visibility]="renduVis==a.rendu ? 'hidden': 'visible'"> 
                    <mat-card class="example-card">
                        <mat-card-header  class="rendu-card">
                            <div mat-card-avatar class="rendu-header-image"></div>
                            <mat-card-title>{{a.nom}}</mat-card-title>
                            <mat-card-subtitle> date de rendu : {{a.dateDeRendu}}</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://6.viki.io/image/44230fe166094d7db1e381499e5cbc9f.jpeg?s=900x600&e=t">
                        <mat-card-actions>
                            <p *ngIf="a.rendu ; else nonsoumis" appRendu >Rendu : {{a.rendu}}</p>
                        
                            <ng-template #nonsoumis>
                                <p>{{a.nom}} NON RENDU ! , à rendre le {{a.dateDeRendu |date}}.</p>
                            </ng-template>
                        </mat-card-actions>
                    </mat-card> 
                </mat-grid-tile>     
            </div>
        </div>
    </mat-grid-list>
</div> -->